/* ORIGINAL COLORS
--highlight-color: rgb(255, 242, 0);
--dark-color: rgb(3, 23, 89);
--dark-highlight: rgb(12, 44, 149);
--doorknob-dark: purple;
--doorknob-light: rgb(255, 0, 255);
--footer-dark: rgb(25, 25, 25);
--footer-light: rgb(86, 86, 86);
--sky-gradient: linear-gradient(0deg, rgba(255,116,6,1) 0%, rgba(209,2,46,1) 25%, #b806c2 50%, #52068a 75%, #042255 100%);
*/

:root {
    --highlight-color: rgb(255, 119, 0);
    --dark-color: rgb(52, 3, 89);
    --dark-highlight: rgb(179, 13, 225);
    --doorknob-dark: rgb(114, 12, 12);
    --doorknob-light: rgb(255, 0, 0);
    --footer-dark: rgb(25, 25, 25);
    --footer-light: rgb(86, 86, 86);
    --sky-gradient: linear-gradient(0deg, rgba(255,116,6,1) 0%, rgba(209,2,46,1) 25%, #b806c2 50%, #52068a 75%, #042255 100%);
}

* {
    margin: 0;
    padding: 0;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

html {
    /* background-color: black; */
    width: 100%;
    height: 100%;
    font-family: Oleo Script;
}

body {
    /* background: linear-gradient(0deg, rgba(255,116,6,1) 0%, rgba(209,2,46,1) 25%, #b806c2 50%, #52068a 75%, #042255 100%); */
    background-image: url("../images/stars.png"), var(--sky-gradient);
    background-size: 150% 150%;
    background-position: 50% 10%;
}

body.homepage-body {
    /* background: linear-gradient(0deg, rgba(255,116,6,1) 0%, rgba(209,2,46,1) 25%, #b806c2 50%, #52068a 75%, #042255 100%); */
    background-position: 50% 90%;
    animation: gradient 7s ease-in-out 1s 1 forwards running;
    margin-bottom: -400px;
}

@keyframes gradient {
    0% {
        background-position: 50% 90%
    }
    100% {
        background-position: 50% 10%
    }
}

.sky-containter {
    height: 100%;
}

.header-txt {
    position: fixed;
    top: 180px;
    width: 100%;
    height: auto;
    animation: title-text-move 7s ease-in-out 1s 1 forwards running;
    transform: scale(110%);
}

@keyframes title-text-move {
    0% {
        color: var(--footer-dark);
        top: 180px;
        transform: scale(110%);
    }
    40% {
        color: var(--dark-highlight);
    }
    100% {
        color: var(--highlight-color);
        top: 30px;
        transform: scale(100%);
    }
}

h1 {
    font-size: 86pt;
    color: var(--highlight-color);
    margin-top: 20px;
    text-align: center;
    z-index: 15;
    pointer-events: none;
}

#evenfall-txt {
    position: fixed;
    color: var(--footer-dark);
}


h3 {
    font-size: 30pt;
    color: var(--highlight-color);
    text-align: center;
    z-index: 15;
    pointer-events: none;
}

#welcome-txt {
    position: fixed;
    color: var(--footer-dark);
}

.moon-dome {
    width: 600px;
    height: 600px;
    /* border-radius: 100%; */
    /* background-color: #90c0df; */
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: -400px;
    margin: auto;
    /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    animation: domeset 7s ease-in-out 1s 1 forwards running;
    transform: scale(30%);
    z-index: 0;
    overflow: visible;
}

@keyframes domeset {
    0% {
        right: 0;
        bottom: -400px;
        transform: scale(30%);
        /* background-color: #90c0df; */
    }
    60% {
        /* background-color: #90c0df; */
    }
    100% {
        right: 0;
        bottom: 0;
        transform: scale(100%);
        /* background-color: rgb(255, 255, 255); */
    }
}

#moon {
    width: 500px;
    position: absolute;
    top: 50px;
    left: 50px;
    opacity: 100%;
    pointer-events: none;
    animation: moonfade 7s ease-in-out 1s 1 forwards running;
    z-index: 14;
}

@keyframes moonfade {
    0% {
        opacity: 100%;
    }
    40% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

#dome {
    transform: scale(98%);
    position: absolute;
    top: 50px;
    left: 50px;
    fill: var(--dark-color);
    stroke-width: 5px;
    stroke: var(--dark-highlight);
    transition: stroke 1s ease-in-out, filter 1s ease-in-out;
    z-index: 9;
    overflow: visible;
}

#dome:hover {
    stroke: var(--highlight-color);
    filter: drop-shadow(3px 3px 10px var(--highlight-color))
    drop-shadow(3px -3px 3px var(--highlight-color))
    drop-shadow(-3px 3px 3px var(--highlight-color))
    drop-shadow(-3px -3px 3px var(--highlight-color));
}

#door {
    width: 100px;
    height: 280px;
    position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    bottom: 0;
    margin: auto;
    background-color: var(--dark-color);
    border: var(--dark-highlight);
    border-style: solid;
    border-width: 3px;
    pointer-events: none;
    opacity: 0%;
    transition: border 1s ease-in-out;
    animation: doorappear 1s ease-in-out 8s 1 forwards running;
    z-index: 10;
}

#dome:hover ~ #door {
    border: var(--highlight-color);
    border-style: solid;
    border-width: 3px;
}

#doorknob {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    left: 35px;
    right: 0;
    top: 320px;
    bottom: 0;
    margin: auto;
    background-color: var(--doorknob-dark);
    position: relative;
    opacity: 0%;
    pointer-events: none;
    transition: background-color 1s ease-in-out;
    animation: doorappear 1s ease-in-out 8s 1 forwards running;
    z-index: 11;
}

#dome:hover ~ #doorknob {
    background-color: var(--doorknob-light);
}

@keyframes doorappear {
    0% {
        opacity: 0%;
    } 
    100% {
        opacity: 100%;
    }
}

.book-sign {
    position: absolute;
    left: 120px;
    right: 0;
    top: 420px;
    width: 350px;
    /* BOOK NOW HEIGHT */
    /* height: 80px; */ 
    height: 100px;
    border-style: solid;
    border-width: 5px;
    border-color: var(--dark-highlight);
    border-radius: 20px;
    background-color: rgb(6, 6, 103);
    transition: top 1s ease-in-out, opacity 1s ease-in-out;
    z-index: 12;
    opacity: 0;
    pointer-events: none;
    transform: scale(80%);
}

h2 {
    font-size: 45pt;
    text-align: center;
    color: var(--highlight-color);
}

#book-now-txt {
    color: var(--dark-highlight);
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: auto;
    line-height: -10px;
    transition: color 1s ease-in-out;
    z-index: 12;
}

#construction-txt {
    font-size: 30pt;
    color: var(--dark-highlight);
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    bottom: auto;
    line-height: 1em;
    margin: 0;
    padding: 0;
    transition: color 1s ease-in-out;
    z-index: 12;
}

.moon-dome:hover .book-sign {
    /* BOOK NOW HEIGHT */
    /* top: 120px; */
    top: 100px;
    opacity: 1;
    border-color: var(--highlight-color);
}

.moon-dome:hover #book-now-txt, #construction-txt {
    color: var(--highlight-color);
}

/* FARMHOUSE / ABOUT US ELEMENTS */

#farmhouse {
    width: 200px;
    height: auto;
    position: fixed;
    left: 150px;
    right: auto;
    top: auto;
    bottom: 398px;
    transition: filter 1s ease-in-out;
    z-index: 8;
}

/* #farmhouse:hover {
    filter: drop-shadow(3px 3px 3px rgb(255, 242, 0))
    drop-shadow(3px -3px 3px rgb(255, 242, 0))
    drop-shadow(-3px 3px 3px rgb(255, 242, 0))
    drop-shadow(-3px -3px 3px rgb(255, 242, 0));
} */

#window {
    width: 20px;
    height: auto;
    position: fixed;
    left: 285px;
    right: auto;
    top: auto;
    bottom: 450px;
    animation: glow 4s linear 5s infinite alternate none running;
    opacity: 0%;
    pointer-events: none;
    z-index: 9;
}

#about-us-txt {
    color: var(--dark-highlight);
    position: fixed;
    left: 130px;
    right: auto;
    top: auto;
    bottom: 300px;
    line-height: 0%;
    transition: filter 500ms ease-in-out;
    animation: about-txt-move 3s ease-in-out 6s 1 forwards running;
    z-index: 10;
}

@keyframes about-txt-move {
    0% {
        color: var(--dark-highlight);
        bottom: 300px;
    }
    40% {
        color: var(--dark-highlight);
    }
    100% {
        color: var(--highlight-color);
        bottom: 580px;
    }
}

#about-us-txt:hover {
    filter: drop-shadow(3px 3px 10px var(--dark-highlight))
    drop-shadow(3px -3px 10px var(--dark-highlight))
    drop-shadow(-3px 3px 10px var(--dark-highlight))
    drop-shadow(-3px -3px 10px var(--dark-highlight));
}

.about-us:hover #about-us-txt {
    filter: drop-shadow(3px 3px 10px var(--dark-highlight))
    drop-shadow(3px -3px 10px var(--dark-highlight))
    drop-shadow(-3px 3px 10px var(--dark-highlight))
    drop-shadow(-3px -3px 10px var(--dark-highlight));
}

.about-us:hover #farmhouse {
    filter: drop-shadow(3px 3px 3px var(--highlight-color))
    drop-shadow(3px -3px 3px var(--highlight-color))
    drop-shadow(-3px 3px 3px var(--highlight-color))
    drop-shadow(-3px -3px 3px var(--highlight-color));
}

#explore-txt {
    color: var(--dark-highlight);
    position: fixed;
    left: auto;
    right: 130px;
    top: auto;
    bottom: 300px;
    line-height: 0%;
    animation: explore-txt-move 3s ease-in-out 7s 1 forwards running;
    transition: filter 500ms ease-in-out;
    z-index: 10;
}

/* #explore-txt:hover {
    filter: drop-shadow(3px 3px 10px rgb(12, 44, 149))
    drop-shadow(3px -3px 10px rgb(12, 44, 149))
    drop-shadow(-3px 3px 10px rgb(12, 44, 149))
    drop-shadow(-3px -3px 10px rgb(12, 44, 149));
} */

@keyframes explore-txt-move {
    0% {
        color: var(--dark-highlight);
        bottom: 300px;
    }
    40% {
        color: var(--dark-highlight);
    }
    100% {
        color: var(--highlight-color);
        bottom: 700px;
    }
}

#windmill-base {
    width: 150px;
    height: auto;
    position: fixed;
    left: auto;
    right: 100px;
    top: auto;
    bottom: 398px;
    transition: filter 500ms ease-in-out;
    z-index: 9;
}

#windmill-wheel {
    width: 110px;
    height: auto;
    position: fixed;
    left: auto;
    right: 160px;
    top: auto;
    bottom: 536px;
    animation: rotate 5s linear 0s infinite normal none running;
    transition: filter 500ms ease-in-out;
    z-index: 9;
}
.explore:hover #explore-txt {
    filter: drop-shadow(3px 3px 10px var(--dark-highlight))
    drop-shadow(3px -3px 10px var(--dark-highlight))
    drop-shadow(-3px 3px 10px var(--dark-highlight))
    drop-shadow(-3px -3px 10px var(--dark-highlight));
}

.explore:hover #windmill-wheel {
    filter: drop-shadow(3px 3px 3px var(--highlight-color))
    drop-shadow(3px -3px 3px var(--highlight-color))
    drop-shadow(-3px 3px 3px var(--highlight-color))
    drop-shadow(-3px -3px 3px var(--highlight-color));
}

.explore:hover #windmill-base {
    filter: drop-shadow(3px 3px 3px var(--highlight-color))
    drop-shadow(3px -3px 3px var(--highlight-color))
    drop-shadow(-3px 3px 3px var(--highlight-color))
    drop-shadow(-3px -3px 3px var(--highlight-color));
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

@keyframes glow {
    0% {
        opacity: 60%;
    }
    20% {
        opacity: 70%;
    }
    40% {
        opacity: 80%;
    }
    60% {
        opacity: 100%;
    }
    80% {
        opacity: 60%;
    }
    100% {
        opacity: 80%;
    }
}

/* ABOUT US PAGE */

.back-button {
    position: absolute;
    top: 55px;
    left: 55px;
    width: 150px;
    height: 73px;
    border-style: solid;
    border-width: 5px;
    border-color: var(--highlight-color);
    border-radius: 20px;
    transition: transform 500ms ease-in-out, background-color 500ms ease-in-out;
}

.back-button:hover {
    transform: scale(110%);
    background-color: var(--dark-highlight);
}

#back-txt {
    position: relative;
    top: 5px;
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    text-align: center;
}

.sky-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.people {
    width: 400px;
    margin: 20px;
    transition: transform 500ms ease-in-out;
}

.people:hover {
    transform: scale(103%);
}

.people-pics {
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: var(--highlight-color);
    background-color: transparent;
    transition: background-color 500ms ease-in-out;
}

.people:hover .people-pics {
    background-color: var(--dark-highlight);
}

/* FOOTER */

footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: rgb(25, 25, 25);
    z-index: 10;
}

footer.homepage-footer {
    height: 400px;
    overflow: hidden;
}

h4 {
    font-size: 20pt;
    text-align: center;
    color: var(--highlight-color);
}

#follow-txt {
    color: rgb(86, 86, 86);
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 20pt;
    z-index: 11;
}

.social-icons {
    display: flex;
    flex-direction: row;
    height: 100px;
    column-gap: 30px;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    z-index: 11;
}

.icon {
    height: 100%;
    fill: rgb(86, 86, 86);
    transition: fill 500ms ease-in-out;
}

.icon:hover {
    fill: var(--highlight-color);
}